set pages 20 linesize 1000 space 2 lines 200 num 8 verify off feedback off COLSEP ','
COLUMN EVENT FORMAT A30
COLUMN USERNAME FORMAT A10
COLUMN TIME_WAITED_MICRO FORMAT 9999999999
SELECT (SELECT to_char(sysdate, 'YYYY/MM/DD HH24:MI:SS') from DUAL) TIME, 
E.INST_ID, E.SID, S.USERNAME, E.EVENT, E.TOTAL_WAITS, E.TOTAL_TIMEOUTS, E.TIME_WAITED, E.TIME_WAITED_MICRO, E.AVERAGE_WAIT, E.MAX_WAIT 
FROM GV$SESSION_EVENT E, GV$SESSION S
WHERE E.WAIT_CLASS='@mod.oracle.waiteventsql.wait_class@' AND E.SID = S.SID AND E.INST_ID=S.INST_ID AND S.USERNAME='@mod.oracle.waiteventsql.username@';
